
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<section class="page-banner-section">
    <div class="container">
        <h1>Hakkımızda</h1>
    </div>
</section>

<!-- choose section
            ================================================== -->
<section class="choose-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="accordion-box">
                    <h1>10 Yıllık Tecrübe</h1>
                    <p>
                        Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                    </p>
                    <div class="accord-elem active">
                        <div class="accord-title">
                            <a class="accord-link" href="#">Vizyonumuz</a>
                        </div>
                        <div class="accord-content">
                            <p>
                                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                            </p>
                        </div>
                    </div>
                    <div class="accord-elem">
                        <div class="accord-title">
                            <a class="accord-link" href="#">Sertifikalarımız</a>
                        </div>
                        <div class="accord-content">
                            <p><ul>
                                <li>QUALITY SYSTEM MANAGEMENT CERTIFICATE</li>
                                <li>
                                    INTERNATIONAL BRAND REGISTRATION
                                </li>
                                <li>
                                    PROTECTING FORESTS FOR FUTURE GENERATIONS
                                </li>
                                <li>
                                    CUSTOMER SATISFACTION GUARANTEE
                                </li>
                                </ul></p>
                        </div>
                    </div>
                    <div class="accord-elem">
                        <div class="accord-title">
                            <a class="accord-link" href="#">Taking Care Of Old People</a>
                        </div>
                        <div class="accord-content">
                            <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-consult">
                    <h1><span>KLY Teknik Servis</span>Profesyonel Çözümler</h1>
                    <p>Bir tık kadar yakındayız!</p>
                    <a href="@Url.Action("Contact","Home")">İletişim</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End choose section -->

