
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<!-- home-section
            ================================================== -->
<section id="home-section" class="slider1">

    <div id="rev_slider_66_1_wrapper" class="rev_slider_wrapper fullwidth-container" data-alias="web-product-dark62" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
        <div id="rev_slider_66_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-227" data-transition="slidevertical" data-slotamount="1" data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/bannerimages/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
                         id="slide-227-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="0"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         style="z-index: 5;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 1.00);">
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption WebProduct-Title-Light   tp-resizeme"
                         id="slide-227-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']"
                         data-y="['middle','middle','top','top']" data-voffset="['-70','-70','147','140']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 11; white-space: nowrap;">
                        Profosyonel Ekip<br />Minimum sürede çözüm!
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption WebProduct-SubTitle-Light   tp-resizeme"
                         id="slide-227-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']"
                         data-y="['middle','middle','top','top']" data-voffset="['4','4','254','237']"
                         data-fontsize="['15','15','15','13']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1250"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption WebProduct-Content-Light   tp-resizeme"
                         id="slide-227-layer-4"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']"
                         data-y="['middle','middle','top','top']" data-voffset="['60','58','275','247']"
                         data-fontsize="['16','16','16','14']"
                         data-lineheight="['24','24','24','22']"
                         data-width="['448','356','334','277']"
                         data-height="['none','none','76','68']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">
                        İşinde uzman ekibimiz ile tüm çözümlerimize 1 yıl garanti veriyoruz.
                        Üye olarak hemen bir destek talebi oluşturabilir, arızalarınızı en kısa sürede giderebilirsiniz.
                        <br />
                        <br />
                        <div class="col-md-offset-3 col-md-5">
                            <a href="@Url.Action("Register","Account")" class="btn btn-primary btn-block">Üye Ol</a>
                        </div>

                    </div>

                </li>
                <!-- SLIDE  -->
                <li data-index="rs-228" data-transition="slidevertical" data-slotamount="1" data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Examples" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/bannerimages/slide2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme"
                         id="slide-228-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="0"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         style="z-index: 5;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 1.00);">
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption WebProduct-Title-Light   tp-resizeme"
                         id="slide-228-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']"
                         data-y="['middle','middle','top','top']" data-voffset="['-70','-70','147','140']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 11; white-space: nowrap;">
                        KLY Teknik Servis <br />Ofisiniz bize emanet
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption WebProduct-SubTitle-Light   tp-resizeme"
                         id="slide-228-layer-3"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']"
                         data-y="['middle','middle','top','top']" data-voffset="['4','4','254','237']"
                         data-fontsize="['15','15','15','13']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1250"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption WebProduct-Content-Light   tp-resizeme"
                         id="slide-228-layer-4"
                         data-x="['left','left','left','left']" data-hoffset="['0','0','10','30']"
                         data-y="['middle','middle','top','top']" data-voffset="['60','58','275','247']"
                         data-fontsize="['16','16','16','14']"
                         data-lineheight="['24','24','24','22']"
                         data-width="['448','356','334','277']"
                         data-height="['none','none','76','68']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">
                         Her marka ofis cihazı arızalarınızda yanınızdayız.<br />
                         Destek taleplerine 30 dk içerisinde çözüm bulma garantisi!
                    </div>

                </li>
              
                
            </ul>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</section>
<!-- End home section -->

<!-- banner-section
            ================================================== -->
<section class="banner-section">
    <div class="container">
        <h2>Bir tık yanınızdayız !!!<a href="@Url.Action("Contact","Home")" class="button-one">İletişim</a></h2>
    </div>
</section>
<!-- End banner section -->

<!-- consulting-section
            ================================================== -->
<section class="consulting-section">
    <div class="container">
        <div class="title-section">
            <h1>Ayrıcalıklar</h1>
        </div>
        <div class="consulting-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="consulting-post">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <h2>Garanti</h2>
                        <p>Tüm hizmetlerimize 6 ay garanti veriyoruz. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="consulting-post">
                        <a href="#"><i class="fa fa-truck"></i></a>
                        <h2>Zamanında Çözüm</h2>
                        <p>45 dakikada içerisinde ulaşımı garantiliyoruz.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="consulting-post">
                        <a href="#"><i class="fa fa-cogs"></i></a>
                        <h2>Yedek Parça</h2>
                        <p>Ömür boyu yedek parça garantisi veriyoruz. </p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</section>
<!-- End consulting section -->